@model CuaHangDienThoai.Models.SanPham

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_SanPham" />
            <div class="form-group">
                <label asp-for="Ten_SanPham" class="control-label"></label>
                <input asp-for="Ten_SanPham" class="form-control" />
                <span asp-validation-for="Ten_SanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mo_Ta" class="control-label"></label>
                <input asp-for="Mo_Ta" class="form-control" />
                <span asp-validation-for="Mo_Ta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DungLuongLuuTru" class="control-label"></label>
                <input asp-for="DungLuongLuuTru" class="form-control" />
                <span asp-validation-for="DungLuongLuuTru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram" class="control-label"></label>
                <input asp-for="Ram" class="form-control" />
                <span asp-validation-for="Ram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KichThuocManHinh" class="control-label"></label>
                <input asp-for="KichThuocManHinh" class="form-control" />
                <span asp-validation-for="KichThuocManHinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaoHanh" class="control-label"></label>
                <input asp-for="BaoHanh" class="form-control" />
                <span asp-validation-for="BaoHanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoKheCamSim" class="control-label"></label>
                <input asp-for="SoKheCamSim" class="form-control" />
                <span asp-validation-for="SoKheCamSim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="So_Luong" class="control-label"></label>
                <input asp-for="So_Luong" class="form-control" />
                <span asp-validation-for="So_Luong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_DanhMuc" class="control-label"></label>
                <select asp-for="Id_DanhMuc" class="form-control" asp-items="ViewBag.Id_DanhMuc"></select>
                <span asp-validation-for="Id_DanhMuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anh_Url" class="control-label"></label>
                <input asp-for="Anh_Url" class="form-control" />
                <span asp-validation-for="Anh_Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
